body {
  background: #EEEEEE;
}

option {
  text-align: center;
}

.form-floating {
  max-width: 550px;
}

.btn {
  width: 570px;
}

.form-dropdown{
	width: 100%;
}

select{
	width: 450px;
	height: 50px;
	text-align: center;
	font-size: 35px;
}
