.side-bar{
  /* position: fixed; */
  width: 300px;
  height: 100vh;
  background: #9591a7;
  padding: 50px 0;

}

.side-bar h2{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.side-bar ul{
  padding: 0;
}

.side-bar ul li{
  padding: 15px;
  padding-left: 35px;
}

.side-bar ul li a{
  text-decoration: none;
  color: #000000;
  display: block;
}

.side-bar ul li:hover{
  background: #acaaba;
}

.side-bar ul li:hover a{
  color: #fff;
}
