[mariadb]
server_id=1001

max_connections=60
max_user_connections=50

lower_case_table_names=1
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci

log_bin = mariadb-bin
binlog_format = ROW
sync_binlog=1

innodb_flush_log_at_trx_commit=1
innodb_buffer_pool_size=2G
innodb_log_file_size=2G